:root {
  --primary-color: #2563eb;
  --secondary-color: #60a5fa;
  --title-color: #1f2937;
  --text-color: #111827;
  --bg-color: #f9fafb;
  --border-color: #6b7280;
  --hover-color: #f3f4f6;
  --tooltip-bg-color: #374151;
  --tooltip-text-color: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__nav--text{
    color: var(--title-color);
}

.page__header {
    height: 5rem;
    display: flex;
    column-gap: 10rem;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color);
    padding: 1rem;
}

.page__content {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.page__header--icon{
    user-select: none;
    left: 20rem;
    padding: 0.4rem;
    color: var(--title-color);
    cursor: pointer;
    border-radius: 0.5rem;
}

.page__header--icon:hover{
    background-color: var(--hover-color);
}

.page__header--input{
   display: none;
}

.page__nav {
    position: absolute;
    height: 100%;
    max-width: 300px;
    border-right: 1px solid var(--border-color);
    background-color: var(--bg-color);
    transition: transform ease-in-out 0.2s;
}

.page__logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--title-color);
    cursor: pointer;
}

.page__main {
  row-gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.page__footer {
  height: 5rem;
  background-color: var(--secondary-color);
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-icon:checked + div > .page__nav {
    transform: translate(-195px);
}

#menu-icon:checked + div > .page__nav > ul > li > img {
    transition: all 0.3s ease-in-out;
    padding: 0rem;
    transform: translate(151px);
}

#menu-icon:checked + div > .page__nav > ul > li:hover {
  background-color: var(--bg-color);
}

a{
  text-decoration: none;
  color: var(--title-color);
}

ul {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

li {
  display:  flex;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  transition: all ease-in-out 0.05s;
}

li:hover {
  background-color: var(--hover-color);
}

p{
  font-size: 1.3rem;
}

.page__main--loader-container {
  width: 100px;
  height: 100px;
}

.page__main--loader{
  transform: translateZ(0) scale(1);
}

.page__main--loader > div {
  position: absolute;
  animation: blink 1s linear infinite;
}

.page__main--loader > div:nth-child(1) {
  width: 22px;
  height: 22px;
  left: 17px;
  top: 64px;
  border-radius: 50%;
  background: var(--secondary-color);
}

.page__main--loader > div:nth-child(2) {
  width: 33px;
  height: 33px;
  left: 28px;
  top: 42px;
  border-radius: 0 33px 0 0;
  border: 10px solid var(--secondary-color);
  animation-delay: 0.1s;
  border-bottom: 0;
  border-left: 0
}
.page__main--loader > div:nth-child(3) {
  width: 55px;
  height: 55px;
  left: 28px;
  top: 20px;
  border-radius: 0 55px 0 0;
  border: 10px solid var(--secondary-color);
  animation-delay: 0.2s;
  border-bottom: 0;
  border-left: 0
}

@keyframes blink {
  0% { opacity: 0 }
 20% { opacity: 1 }
100% { opacity: 1 }
}

.page__main__tooltips{
  display: flex;
  flex-direction: row;
  column-gap: 10rem;
}

.page__tooltip-section {
  display: flex;
  column-gap: 10rem;
}

.page__main--tooltip{
  max-width: fit-content;
  max-height: fit-content;
  position: relative;
}

.tooltip{
  z-index: 2;
  display: flex;
  visibility: hidden;
  position: absolute;
}

.tooltip-body {
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  box-shadow: -1px 3px 3px var(--border-color);
}

.tooltip-triangle{
  width: 0;
  height: 0;
}

.tooltip-text:hover ~ div {
  visibility: visible;
}

.tooltip-top {
  flex-direction: column;
  align-items: center;
  left: 50%;
  right: 50%;
  top: -3.3rem
}

.tooltip-triangle-top{
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--title-color);
}

.tooltip-right {
  flex-direction: row;
  align-items: center;
  top: 50%;
  bottom: 50%;
  left: calc(100% + 0.5rem);
}

.tooltip-triangle-right{
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid var(--title-color);
  z-index: 1;
}

.tooltip-bottom {
  flex-direction: column;
  align-items: center;
  left: 50%;
  right: 50%;
  bottom: calc(0% - 3.4rem);
}

.tooltip-triangle-bottom{
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--title-color);
}

.tooltip-left {
  flex-direction: row;
  align-items: center;
  top: 50%;
  bottom: 50%;
  right: calc(100% + 0.5rem);
}

.tooltip-triangle-left{
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid var(--title-color);
}

#dark-mode-icon:checked ~ .page  {
  background-color: black;
  --primary-color: #3b82f6;
  --secondary-color: #60a5fa;
  --title-color: #d1d5db;
  --text-color: #e5e7eb;
  --bg-color: #1f2937;
  --border-color: #6b7280;
  --hover-color: #374151;
}

